cloudpickle==3.1.1
cv_bridge==1.13.0.post0
ipdb==0.13.13
matplotlib==3.5.1
numpy==1.21.5
opencv_python==4.10.0.84
Pillow==9.0.1
pynput==1.8.1
PyOpenGL==3.1.9
pytest==6.2.5
pyudev==0.24.3
PyYAML==6.0.2
pyzmq==26.4.0
scipy==1.8.0
setuptools==59.6.0
termcolor
tqdm==4.67.1
